include main-mixins

block vars

doctype html
html
    head
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
        +defaultHead()
        block head

    body(class=hasToolbar? 'has-toolbar' : '')
        +defaultNavBar()

        block content

        include core-scripts
        block js
